html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.auto_margin {
    margin: auto;
}

.block {
    display: block;
}

.center {
    text-align: center;
}

.checkbox-inline.form {
    padding-top: 3px;
}

@media (max-width: 768px) {
    .circle_chart_table {
        width: 60%;
    }
    canvas.circle_chart {
        width: 12rem !important;
        height: 12rem !important;
    }
}

.clearfix_small_height {
    height: 14px;
}

.collapse_icon {
    margin-left: 1em;
    float: right;
    font-size: 17px;
    font-weight: 600;
}

.columns-li-padding {
    margin-right: 1.5em;
    margin-left: 1.5em;
}

.custom-select {
    background: #ffffff;
}

.dashboard_filter_panel {
    margin-bottom: 1em;
    padding-top: 0.5em;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.dashboard__filter-rebate {
    margin-top: 1.5em;
}

.dashboard_freq {
    margin-top: 0.5em;
}

.dataTables_filter {
    width: 90%;
}

.dataTables_info {
    width: 79.5%
}

#date_brand_vendor_dd_menu, #earn_vendor_dd_menu {
    width: 100%;
    padding-top: 0.5em;
}

.date__by__brand__category__legend-rebate {
    height: 15px;
    width: 20px;
    border-radius: 4px;
}

.dbbcl-rebate1 {
    background: #FF9143;
    border: 1px solid #FF9143;
}

.dbbcl-rebate2 {
    background: #9B59B6;
    border: 1px solid #9B59B6;
}

.dbbcl-rebate3 {
    background: #E74C3C;
    border: 1px solid #E74C3C;
}

.dbbcl-rebate4 {
    background: #17a2b8;
    border: 1px solid #17a2b8;
}

.dbbcl-rebate5 {
    background: #28a745;
    border: 1px solid #28a745;
}

.dbbcl-rebate6 {
    background: #ffc107;
    border: 1px solid #ffc107;
}

.dbbcl-rebate7 {
    background: #3498DB;
    border: 1px solid #3498DB;
}

#default_checkVend {
    margin-top: 0.5em;
}

.dropdown_chbx {
    margin-left: 1.5em;
}

.dropdown_list {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.dropdown-select-button-content, .columns-li-padding.dropdown-select-button-content {
    margin-right: 0.5em;
    margin-left: 0.5em;
    display: flex;
    justify-content: center;
}

#dropdownMenuVendor, #dropdownMenuBrandDateVendor {
    background: #fff;
    color: #000000;
    border: 1px solid #ccc;
    width: 100%;
    height: 24px;
    text-align: left;
    font-size: 12px;
}

.form-check-label {
    top: -3px;
}

.form-group.no_margin_right {
    margin-right: 0;
}

.half_top_margin {
    margin-top: 0.5em;
}

.hidden {
    visibility: hidden;
}

.left_margin_container {
    margin-left: 15px;
}

.margin_container {
    margin-left: 15px;
    margin-right: 15px;
}

.no_decoration {
    text-decoration: none;
}

.no_margin {
    margin: 0 !important;
}

.no_margin_bottom {
    margin-bottom: 0;
}

.no_margin_left {
    margin-left: 0;
}

.no_margin_right {
    margin-right: 0;
}

.no_margin_top {
    margin-top: 0;
}

.no_padding {
    padding: 0;
}

.no_side_padd {
    padding-left: 0;
    padding-right: 0;
}

@media (max-width: 768px) {
    .no_side_padd {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.no_wrap {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.one_margin_left {
    margin-left: 1em;
}

.orange {
    color: #f1a50d;
}

.overview-panel {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.overview-radio-panel {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.panel-body-progress-collapse {
    margin-bottom: 2em;
    display: flex;
    padding-right: 5px;
    padding-left: 0px;
}

.panel-body-progress-collapse--empty-container {
    display: block;
}

.panel-collapse-heading {
    text-align: center;
    margin-bottom: 2em;
}

.panel-collapse-table {
    max-width: 94%;
}

#points-to-date-by-brand-category-main-chart td {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#points_to_date_freq_combobox, #points_to_date_category_combobox {
    padding-right: 0;
}

#points_to_date_vendor_combobox {
    margin-right: 0.4em;
    margin-left: -0.5em;
}

#portlet_com_liferay_journal_content_web_portlet_JournalContentPortlet_INSTANCE_ADfRxg4nl5g7, textarea.field.form-control {
    height: 300px !important
}

.progress {
    font-size: 1.2rem;
    height: 20px;
    background: none !important;
    border-radius: 10px;
}

.progress-bar.bg-orange_grad {
    background-color: #ff6f06;
    background-image: linear-gradient(0deg, #ff6f06 0%, #ed8e35 46%, #FFCC70 100%) !important;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.progress-bar.bg-blue_grad {
    background-color: #225dfb;
    background-image: linear-gradient(0deg, #225dfb 0%, #415ef9 55%, #99adff 100%) !important;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.progress.progress_units {
    border-radius: 10px;
    background-color: #aaaaaa;
}

.progress-bar {
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.progress-bar.bg-blue_grad {
    background-color: #225dfb;
    background-image: linear-gradient(0deg, #225dfb 0%, #415ef9 55%, #99adff 100%) !important;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.progress-bar.bg-orange_grad {
    background-color: #ff6f06;
    background-image: linear-gradient(0deg, #ff6f06 0%, #ed8e35 46%, #FFCC70 100%) !important;
    color: #fff;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

.progress-bar_items {
    width: 100%;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.50);
    z-index: 1;
}

.progress-bar.progress__bg-blue {
    background-color: #3498DB;
}

.progress-bar.progress__bg-dark-green {
    background-color: #28a745;
}

.progress-bar.progress__bg-grey {
    background-color: #BDC3C7;
}

.progress-bar.progress__bg-info {
    background-color: #17a2b8;
}

.progress-bar.progress__bg-light-green {
    background-color: #26F99A;
}

.progress-bar.progress__bg-medium-green {
    background-color: #26B99A;
}

.progress-bar.progress__bg-orange {
    background-color: #FF9143;
}

.progress-bar.progress__bg-red {
    background-color: #E74C3C;
}

.progress-bar.progress__bg-violet {
    background-color: #9B59B6;
}

.progress-bar.progress__bg-warning {
    background-color: #ffc107;
}

.radio+.historical-charts, .radio+.checkbox.historical-charts, .radio+.radio-units-charts {
    margin-top: 10px;
}

.radio-paragraph {
    margin-bottom: 0;
}

.right_margin_container {
    margin-right: 15px;
}

.select-category-btn {
    width: 45%;
    display: inline-block;
    margin-top: 0.5em;
    box-sizing: border-box;
}

.select-category-btn:last-of-type {
    margin-right: 0;
}

.select_superscript {
    font-size: 10px;
}

.stats_count_container, .tile_stats_count.stats_count_container {
    margin-bottom: 4em;
}

.table_col_4 {
    width: 4%;
}

.table_col_5 {
    width: 5%;
}

.table_col_10 {
    width: 10%;
}

.table_col_13 {
    width: 13%;
}

.table_col_15 {
    width: 15%;
}

.table_col_21 {
    width: 21%;
}

.table_col_31 {
    width: 31%;
}

.table_col_25 {
    width: 25%;
}

.table_col_30 {
    width: 30%;
}

.table_col_35 {
    width: 35%;
}

.table_col_35 {
    width: 35%;
}

.table_col_legend_label {
    width: 40px;
}

.table-fixed {
    table-layout: fixed;
}

.table-full-width {
    width: 100%;
}

@media screen and (max-width: 767px) {
    .table-responsive {
        border: none;
    }
}

.table-summarize {
    font-weight: 600;
}

.table_total_row {
    border: none;
    background-color: #b5fffc;
    background-image: linear-gradient(0deg, #b5fffc 0%, #effdff 100%);
    font-weight: 700;
    color: #262626;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.9);
}

.table_total_row--special {
    border: none;
    background-color: #b5fffc;
    background-image: linear-gradient(0deg, #b5fffc 0%, #effdff 100%);
    font-weight: 700;
    color: #262626;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.9);
    text-align: center;
    letter-spacing: 2em;
}

.no_border, table td.no_border {
    border: none;
}

.titled_component {
    text-align: left;
    font-weight: 600;
    color: navy;
}

ul.dropdown-menu>li:hover {
    background-color: #eeeeee;
}

.widget_summary_width_7 {
    width: 7%;
}

.widget_summary_width_93 {
    width: 93%;
}

.widget_summary_left_panel {
    width: 96px;
    margin-right: 1em;
}

.widget_summary_right_panel {
    width: 94%;
}

.widget_summary_table_left_panel {
    width: 101px;
    margin-right: 1em;
}

.widget_summary_left_panel-item {
    padding: 0.1em 0.5em;
    cursor: pointer;
}

.widget_summary_left_panel-item:hover, .widget_summary_left_panel-item:hover a {
    background-color: #eee;
    color: #000;
    border-radius: 12px;
}